# Override Yarn command so we can automatically setup the repo on running `yarn`
npmRegistryServer: 'https://registry.npmjs.org/'

npmScopes:
  lawnstarter:
    npmAuthToken: '${GH_TOKEN}'
    npmRegistryServer: 'https://npm.pkg.github.com/'

yarn-path "scripts/bootstrap.js"
